emoji_1.png,[微笑]
emoji_2.png,[哭]
emoji_3.png,[难过]
emoji_4.png,[发火]
emoji_5.png,[奇怪]
emoji_6.png,[尴尬]
emoji_7.png,[可爱]
emoji_8.png,[害怕]
emoji_9.png,[囧]
emoji_10.png,[闭嘴]
emoji_11.png,[脸红]
emoji_12.png,[亲亲]
emoji_13.png,[喜欢]
emoji_14.png,[睡觉]
emoji_15.png,[大哭]
emoji_16.png,[使坏]
emoji_17.png,[嘲笑]
emoji_18.png,[晕]
emoji_19.png,[大爱]
emoji_20.png,[鄙视]
emoji_21.png,[奋斗]
emoji_22.png,[汗]
emoji_23.png,[不屑]
emoji_24.png,[吐]
emoji_25.png,[挖鼻孔]
emoji_26.png,[拜托]
emoji_27.png,[美味]
emoji_28.png,[害羞]
emoji_29.png,[期待]
emoji_30.png,[困]
emoji_31.png,[辩论]
emoji_32.png,[拜拜]
emoji_33.png,[糗大了]
emoji_34.png,[爱钱]
emoji_35.png,[书呆子]
emoji_36.png,[沉默]
emoji_37.png,[委屈]
emoji_38.png,[大叫]
emoji_39.png,[打你]
emoji_40.png,[惊讶]
emoji_41.png,[耍酷]
emoji_42.png,[烧香]
emoji_43.png,[卖萌]
emoji_44.png,[羞羞]
emoji_45.png,[藐视]
emoji_46.png,[高兴]
emoji_47.png,[疑问]
emoji_48.png,[大笑]
emoji_49.png,[开心]
emoji_50.png,[骷髅]
emoji_51.png,[群众]
emoji_52.png,[合作]
emoji_53.png,[挑衅]
emoji_54.png,[棒]
emoji_55.png,[差]
emoji_56.png,[剪刀手]
emoji_57.png,[可以]
emoji_58.png,[客气]
emoji_59.png,[嘴唇]
emoji_60.png,[西瓜]
emoji_61.png,[苹果]
emoji_62.png,[红心]
emoji_63.png,[小狗]
emoji_64.png,[小猫]
emoji_65.png,[礼物]
emoji_66.png,[鲜花]
emoji_67.png,[残花]
emoji_68.png,[咖啡]
emoji_69.png,[米饭]
emoji_70.png,[胶囊]
emoji_71.png,[菜刀]
emoji_72.png,[炸弹]
emoji_73.png,[粑粑]
emoji_74.png,[心]
emoji_75.png,[心碎]
emoji_76.png,[花]
emoji_77.png,[树叶]
emoji_78.png,[日历]
emoji_79.png,[小熊]
emoji_80.png,[蛋糕]
emoji_81.png,[太阳]
emoji_82.png,[彩虹]
emoji_83.png,[皇冠]
emoji_84.png,[雪花]
emoji_85.png,[医药箱]
emoji_86.png,[音乐]
emoji_87.png,[汽车]
emoji_88.png,[红酒]
emoji_89.png,[画画]
emoji_90.png,[飞机]
emoji_91.png,[猪头]
emoji_92.png,[创可贴]
emoji_93.png,[信]
emoji_94.png,[足球]
emoji_95.png,[蜡烛]
emoji_96.png,[星星]
emoji_97.png,[月亮]
emoji_98.png,[闪电]
emoji_99.png,[杯子]
emoji_100.png,[黄钻]
emoji_101.png,[照相]
emoji_102.png,[滑冰]
emoji_103.png,[下雨]
emoji_104.png,[手套]
emoji_105.png,[蘑菇]
emoji_106.png,[章鱼]
emoji_107.png,[梨]
emoji_108.png,[马]
emoji_109.png,[云]
emoji_110.png,[威武]